<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objects</key>
	<array>
		<dict>
			<key>mappoints</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>0.3</real>
					<key>position</key>
					<string>300,400</string>
					<key>pcoord</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>position</key>
					<string>50,50</string>
					<key>coord</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>imagename</key>
			<string>icon</string>
		</dict>
	</array>
	<key>length</key>
	<integer>800</integer>
	<key>direction</key>
	<false/>
</dict>
</plist>
