<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objects</key>
	<array>
		<dict>
			<key>triggers</key>
			<array>
				<dict>
					<key>reverseto</key>
					<integer>1</integer>
					<key>triggercount</key>
					<integer>0</integer>
					<key>triggerdirection</key>
					<false/>
					<key>trigger</key>
					<dict>
						<key>scale</key>
						<real>0.001</real>
						<key>duration</key>
						<real>0.5</real>
					</dict>
					<key>duration</key>
					<real>0.3</real>
					<key>coord</key>
					<integer>0</integer>
					<key>scale</key>
					<real>1.2</real>
				</dict>
				<dict>
					<key>reverseto</key>
					<integer>0</integer>
					<key>triggercount</key>
					<integer>0</integer>
					<key>triggerdirection</key>
					<true/>
					<key>trigger</key>
					<dict>
						<key>scale</key>
						<integer>1</integer>
						<key>duration</key>
						<real>0.4</real>
					</dict>
					<key>duration</key>
					<real>0.3</real>
					<key>coord</key>
					<integer>280</integer>
					<key>scale</key>
					<real>1.2</real>
				</dict>
			</array>
			<key>imagename</key>
			<string>star</string>
			<key>mappoints</key>
			<array>
				<dict>
					<key>rotate</key>
					<real>1</real>
					<key>scale</key>
					<real>0.001</real>
					<key>pcoord</key>
					<integer>0</integer>
					<key>position</key>
					<string>150,250</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>pagecount</key>
	<integer>4</integer>
	<key>direction</key>
	<true/>
</dict>
</plist>
